body{
    margin: 0;
    padding: 0;
    background: #22d1ee;
}


.form-container{
    display: grid;
    grid-template-columns: repeat(2, 450px);
    place-content: center;
    position: relative;
    top:5rem;
   

}

form{
    position: relative;
    top: 2rem;
    background: #e2f3f5;
    height: 60vh;
    justify-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.15);
}

.showcase{
    position: relative;
    top: 3.3em;
    background: #303a52;
    background-size: 100%;
    background-position: center;
    height: 60vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.15);
    opacity: 0.8;
}

h1{
    position: relative;
    top:4rem;
    padding: 20px 100px;
    text-align: center;
    color: #303a52;
    
}

input{
    position: relative;
    top:3rem;
    text-align: start;
    width: 250px;
    height: 30px;
    margin: 10px 80px;
    border: 0;
}

a{
    position: relative;
    top:4rem;
    left: 1rem;
    font-size: 15px;
    margin: 10px 100px;
    text-decoration: none;    
}

button{
    position: relative;
    top:5rem;
    left: 2rem;
    background: #303a52;
    color: white;
    margin: 10px 100px;
    padding: 10px 50px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
#errorMsg{
    width: 80%;
    margin: 10px 0 10px 0;
    background: #303a52;
    transition: all 0.5s ease;
    text-align: center;
    color: white;
    position: relative;
    top: -5rem;
    left:1.5rem;

} 

h2{
    color: white;
    text-align: center;
    margin-top: 7rem;
    line-height: 2rem;
}


p{
    color:white;
    text-align: center;
    line-height: 2rem;
    margin: 0 40px;
    font-size: 18px;
}


@media screen and (max-width:1002px){
    .form-container{
        display: grid;
        grid-template-columns: 1fr;
        place-items:center;
    }
    .showcase{
        display: none;
    }
    form{
        position: relative;
        top: 2rem;
        background: #e2f3f5;
        height: 70vh;  
    }
    
}